       .col1 {
           color: rgb(23, 182, 94);
       }

       .col2 {
           color: indigo;
       }

       .col3 {
           color: #def414;
       }

       .col4 {
           color: #e429cb;

       }

       .col5 {
           color: aqua
       }