      /* 不能有標籤 只能有 CSS內容 */

      #theH1 {
          color: rgb(23, 182, 94);
      }

      .col2 {
          color: indigo;
      }

      .size1 {
          font-size: 30px;
      }

      .size2 {
          font-size: 90px;
      }

      .under1 {
          text-decoration: underline;
      }

      .family1 {
          font-family: fantasy;
      }

      p {
          color: rgb(42, 71, 165);
          font-size: 70px;
          font-family: cursive;
      }